<nav>
    <div>
      <h2 class="logo" href="#"> </h2>
 

      <div class="menu-icon" id="menu-icon">
        <ul class="menu" id="menu">
          <li >
            <a aria-current="page" routerLink="/">Inicio</a>
          </li>
  
          @if(authService.user === null){
            <li >
              <a  routerLink="/login">Iniciar sesión</a>
            </li>
            <li>
              <a  routerLink="/signup">Registrarse</a>
            </li>
          }
          @else if (authService.user.role === 'admin') {
            <li>
              <a  href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Área Admin
              </a>
              <ul aria-labelledby="navbarDropdown">
                <li ><a routerLink="/admin/bookings">Reservas</a></li>
                <li><a routerLink="/admin/users">Usuarios</a></li>
                <li><a  routerLink="/admin/festivals">Festivales</a></li>
           
              </ul>
            </li>
            <li >
              <button  (click)="authService.deleteUser()">Cerrar sesión</button>
            </li>
          }
          @else {
            <li >
              <a  href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Área privada
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" routerLink="/me/my-bookings">Mis reservas</a></li>
                <li><a class="dropdown-item" routerLink="/me/my-info">Mi información</a></li>
           
              </ul>
            </li>
            <li >
              <button (click)="authService.deleteUser()">Cerrar sesión</button>
            </li>
          }
          
         
        </ul>
        <script src="script.js"></script>
      </div>
    </div>
  </nav>






  