<div >
    <br>
      <h1>Mi Información</h1>
  <br>
      <h3>Bienvenido {{ user?.name }}</h3>
      <h4>Correo electrónico: {{ user?.email }}</h4>
      <h4>Mi rol: {{ user?.role }}</h4>
    
      <div ngIf="user; else loading">
        <form [formGroup]="form" action="" (ngSubmit)="actualizar()">
          <div >
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" formControlName="name" name="name" required>
          </div>
          <div >
            <label for="email" >Correo Electrónico</label>
            <input type="email"  formControlName="email" name="email" required>
          </div>
          <button type="submit">Actualizar Información</button>
        </form>
    
        <div >
          <h3>Seguridad</h3>
          <button  (click)="editar()">Cambiar Contraseña</button>
          <button id="button"(click)="eliminar()">Eliminar Cuenta</button>
        </div>
      </div>
    
      <ng-template #loading>
        <p>Cargando información del usuario...</p>
      </ng-template>
    </div>
    
    
  
  
  
  
  
  