<h1>Gestión de Festivales ({{ festivals.length }})</h1>
<div class="filter-container">
  <span>
    <i class="fa fa-filter"></i>
  </span>
  <input [(ngModel)]="filtro" type="text" placeholder="Filtrar">
</div>

<div>
    <button class="new-festival-button" (click)="addNewFestival()">Nuevo Festival</button>
</div>

<ul>
    @for(festival of (festivals | filterFestivals: filtro); track festival) {
        <li>
            <div>
                <img [src]="festival.image" alt="Festival Image">
                <div>
                    <h5>{{ festival.festivalName }}</h5>
                    <h4>{{ festival.type }}</h4>
                    <p>{{ festival.description }}</p>
                    <p>{{ festival.price | divisa }}</p>
                    <button (click)="editar(festival._id)">Editar</button>
                    <button (click)="eliminar(festival._id)" id="button">Eliminar</button>
                </div>
                <div>
                    <small> Localización {{ festival.location }}</small>
                </div>
            </div>
        </li>
    }
</ul>
