@if(bookings.length === 0){
    <div class="no-purchases">
      <i class="fa fa-circle-info"></i>
      No tienes reservas todavía
    </div>
    } @else {
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Fecha inicio</th>
          <th scope="col">Fecha fin</th>
          <th scope="col">Nombre del festival</th>
          <th scope="col">Tipo</th>
          <th scope="col">Precio</th>
          <th scope="col">Localización</th>
          <th scope="col">Descuento %</th>
        </tr>
      </thead>
      <tbody>
        @for(booking of bookings ; track booking){
        <tr>
          <td>
            <button [disabled]="!(booking.startDate | canCancel)" (click)="eliminar(booking._id)" >
              <i class="fa fa-trash"></i>
            </button>
            <button [disabled]="!(booking.startDate | canCancel)" (click)="editar(booking._id)" >
              <i class="fa fa-pencil"></i>
            </button>
          </td>
          <td>{{ booking.startDate | formatDate }}</td>
          <td>{{ booking.endDate | formatDate }}</td>
          <td>{{ booking.festival.festivalName }}</td>
          <td>{{ booking.festival.type }}</td>
          <td>{{ booking.price | divisa }}</td>
          <td>{{ booking.discount }}</td>
        </tr>
        }
      </tbody>
    </table>
  }
